[contenteditable]:active,
[contenteditable]:focus{
    border:none;
    outline: 1px solid var(--el-color-info-light-9);
}

/*Vue style update*/
.deal-comment-item .el-timeline-item__node--large {
    width: 32px !important;
    height: 32px !important;
}
.deal-comment-item .el-timeline {
    padding: 0 !important;
}
.deal-comment-item .el-timeline-item__wrapper {
    padding-left: 54px !important;
}
.deal-comment-item  .el-timeline-item__tail {
    display: block !important;
    position: absolute;
    left: 13px;
    height: 100%;
    border-left: 2px solid #ecf5ff;
}
/*SCROLL STYLE*/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
}
