[contenteditable]:active,
[contenteditable]:focus{
    border:none;
    outline: 1px solid var(--el-color-info-light-9);
}

/*Vue style update*/
.deal-comment-item .el-timeline-item__node--large {
    width: 32px !important;
    height: 32px !important;
}
.deal-comment-item .el-timeline {
    padding: 0 !important;
}
.deal-comment-item .el-timeline-item__wrapper {
    padding-left: 54px !important;
}
.deal-comment-item  .el-timeline-item__tail {
    display: block !important;
    position: absolute;
    left: 13px;
    height: 100%;
    border-left: 2px solid #ecf5ff;
}

.el-form-item__label {
    width: 150px;
    height: fit-content!important;
    justify-content: flex-start !important;
}
/*SCROLL STYLE*/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
}


.btn-custom__default {
    background: #ffffff;
    color: #495057;
    border: 1px solid #dddddd;
}
.btn-custom__grey {
    background: #d2d5d5;
    color: #495057;
}
.btn-custom__black {
    background: #000000;
    color: #ffffff;
}
.btn-custom__green {
    background: #04AA6D;
    color: #ffffff;
}
.btn-custom__yellow {
    background: #ebbf00;
    color: #ffffff;
}
.btn-custom__pink {
    background: #d7556c;
    color: #ffffff;
}
.btn-custom__blue {
    background: #0c84e4;
    color: #ffffff;
}
.btn-custom__red {
    background: #fa3e3e;
    color: #ffffff;
}
.btn-custom__purple {
    background: #9c27b0;
    color: #ffffff;
}
.btn-custom__orange {
    background: #ff9800;
    color: #ffffff;
}
