.row {
    display:flex;
    flex-direction: row;
}
.common-gap {
    gap: 10px;
}


/*ActionButtons*/
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

/*Comments*/
.row-right__upper {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.row-right__content {
    padding-left: 10px;
}
.row-right__content .la-trash-alt {
    cursor: pointer;
    font-size: 20px;
    color: red;
}
.row-right__content i:hover {
    filter: brightness(80%);
}
.row-right__upper > span {
    font-size: 15px;
    font-weight: 600;
    opacity: 0.5;
}
.row-right__content {
    display: flex;
    justify-content: space-between;
}
.row-right__author {
    justify-content: end;
    padding: 5px;
}


/*tasks and deal*/
.card {
    padding: 30px;
    width: calc(100% - 200px);
    flex-wrap: nowrap;
}
.card .input-title {
    margin: 10px 0 10px 0;
    height: 40px;
    font-size: 30px;
}
.card .input-subtitle {
    margin: 10px 0 10px 0;
    height: 30px;
    font-size: 20px;
}
.card-left {
    min-width: 35%;
    padding: 8px;
}
.card-right {
    width: 65%;
}

.load-more {
    margin-left: 50%;
}

.infinite-list {
    min-height: 700px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
